# Ignore local virtual environments
.venv/
venv/

# Ignore Python caches
__pycache__/
*.pyc

# Ignore Git and IDE files
.vscode/
.idea/

# Ignore other development artifacts
*.log
*.tmp
.env

# Mac
.DS_Store